<div class="container">
  <div class="jumbotron mt-3">
    <h1>{{title}}</h1>
    <p class="lead">This example is a quick exercise to illustrate how the {{title}} works.</p>
    <!-- <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a> -->
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Only Date</h5>
          <djsiddz-dtp label="Date" [showDate]="true" [showTime]="false"></djsiddz-dtp>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Only Time</h5>
          <djsiddz-dtp label="Time" [showDate]="false" [showTime]="true"></djsiddz-dtp>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Date & Time</h5>
          <djsiddz-dtp label="Both" [showDate]="true" [showTime]="true"></djsiddz-dtp>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Using ngModel</h5>
          <djsiddz-dtp label="Both" [showDate]="true" [showTime]="true" [(ngModel)]="example1"></djsiddz-dtp>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Using formControlName</h5>
          <form [formGroup]="form">
            <djsiddz-dtp label="Both" [showDate]="true" [showTime]="true" formControlName="example2"></djsiddz-dtp>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
