<!-- <div class="form-group"> -->
  <label for="exampleFormControlInput1">{{label}}</label>
  <input type="text" class="form-control" [(ngModel)]="_finalDate" (click)="togglePicker()"/>
  <div class="card card-popup" *ngIf="showPicker">
    <div class="card-body">
      <div class="d-flex justify-content-between" *ngIf="showDate">
        <div class="px-1">
          <label>Month</label>
          <select class="form-control" [(ngModel)]="selectedMonth" (change)="updateMonth($event)">
            <option *ngFor="let month of monthOptions" value="{{month.number}}">{{month.name}}</option>
          </select>
        </div>
        <div class="px-1">
          <label>Date</label>
          <select class="form-control" [(ngModel)]="selectedDate" (change)="updateDate($event)">
            <option *ngFor="let date of dateOptions" value="{{date.number}}">{{date.number}}</option>
          </select>
        </div>
        <div class="px-1">
          <label>Year</label>
          <select class="form-control" [(ngModel)]="selectedYear" (change)="updateYear($event)">
            <option *ngFor="let year of yearOptions" value="{{year.number}}">{{year.number}}</option>
          </select>
        </div>
      </div>
      <div class="d-flex py-1 justify-content-between">
        <div class="px-1" *ngIf="showTime">
          <label>Hour</label>
          <select class="form-control" [(ngModel)]="selectedHour" (change)="updateHour($event)">
            <option *ngFor="let hour of hourOptions" value="{{hour.number}}">{{hour.display}}</option>
          </select>
        </div>
        <div class="px-1 align-self-end" *ngIf="showTime">
          :
        </div>
        <div class="px-1" *ngIf="showTime">
          <label>Minutes</label>
          <select class="form-control" [(ngModel)]="selectedMinute" (change)="updateMinutes($event)">
            <option *ngFor="let minutes of minutesOptions" value="{{minutes.number}}">{{minutes.display}}</option>
          </select>
        </div>
        <div class="px-1 ml-auto align-self-end">
          <button type="button" name="button" class="btn btn-primary" (click)="togglePicker()">OK</button>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
